<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>5Calls: Let’s Save Democracy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="issues">
      <header>
        <h1><a href="/">5 Calls</a></h1>
        <p>You’re at 12345. <a href="#">Change?</a></p>
      </header>
      <ul class="issues-list">
        <li class="issues-list__item">
          <p>This is the short description of the issue.</p>
        </li>
        <li class="issues-list__item is-active">
          <p>This is the short description of the issue.</p>
        </li>
        <li class="issues-list__item is-complete">
          <p>This is the short description of the issue.</p>
        </li>
        <li class="issues-list__item">
          <p>This is the short description of the issue.</p>
        </li>
        <li class="issues-list__item">
          <p>This is the short description of the issue.</p>
        </li>
      </ul>
    </div>

    <div class="site-info">
      <header>
        <h2>Let’s Save Democracy</h2>
        <p>Set up the premise here. What are we doing. Why are we doing it. Yadda, yadda, blah, blah. Set up the premise here. What are we doing.</p>
        <p>You only need you to make five calls. today.</p>
      </header>
      <ul class="site-info__stats">
      <li class="site-info__stat">
        <strong class="site-info__stat-value">5,301,000</strong>
        <label  class="site-info__stat-label">calls to date</label>
      </li>
      <li class="site-info__stat">
        <strong class="site-info__stat-value">54,291</strong>
        <label  class="site-info__stat-label">calls today</label>
      </li>
      </ul>
    </div>

    <footer>
    </footer>
  </body>
</html>
