.call {
  background-color: fade-out(#fff, 0.3);
  padding: 2rem;

  &__title {
  	margin: 0;
  	font-size: 3.4rem;
  	text-transform: uppercase;
  	xtext-align: center;
  }

  &__reason {
  	font-size: 1.4rem;
  	font-weight: 300;
  	line-height: 2rem;
  }

  &__contact {
  	&__image {
      float: left;
      width: 200px;
      height: 200px;
      margin: 0 1rem 1rem 0;

      img {
        max-width: 100%;
        max-height: 100%;
      }
  	}

  	&__type {
      margin-bottom: 0.1rem;
  	  font-size: 1.4rem;
      text-transform: uppercase;
  	}

    &__name {
      margin-bottom: 0.1rem;
      font-size: 2.8rem;
      font-weight: 600;
    }

    &__phone {
      margin-bottom: 0.1rem;
      font-size: 5rem;
      font-weight: 600;
    }

    &__reason {
      margin-left: calc(200px + 1rem);
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

  &__script {
    margin-bottom: 2rem;

    &__header {
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
    }

    &__body {
      padding: 0.6rem 0.8rem 0.1rem 0.8rem;
      background-color: fade-out(#fff, 0.5);
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2rem;
    }
  }

  &__outcomes {
    margin: auto auto 2rem auto;
    padding: 0;

    &__header {
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
      // font-weight: 300;
    }

    menuitem {
      padding: 0.8rem 0;
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: uppercase;
      overflow: hidden;
      white-space: nowrap;
      width: 24.6%;
      display: inline-block;
      background-color: fade-out(#fff, 0.2);
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__promote {
    p {
      margin: 0;
      text-align: center;
    }
  }

  &__complete {

    &__title {
      margin: 0 0 2rem 0;
      font-size: 3.4rem;
      text-transform: uppercase;
      text-align: center;
    }

    &__text {
      margin: 2rem 0 2rem 0;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2rem;
    }

    &__share {
      font-size: 1.8rem;
      text-align: center;
    }
  }
}
