* {
  box-sizing: border-box;
}

body {
  font-family: $font-sans;
  color: $color-text;
  background-color: $color-bg;
  @include bp(small) {

  }
}

html, body {
  height: 100%;
}

p {
  font-size: $font-small;
  line-height: 1.4em;
}

p, h2 {
  margin: 0;
  padding: 12px 12px 6px;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    // TODO: better, nicer link styles
    text-decoration: underline;
  }
}

button, input[type=submit] {
  font-family: $font-sans;
  border: 1px solid $white;
  border-radius: 4px;
  background-color: $red;
  color: $white;
  margin: 2px;
  padding: 6px 18px;
}

input {
  font-family: $font-sans;
  border: 1px solid transparent;
  padding: 6px;
  border-radius: 4px;
  &:focus {
    border-radius: 4px;
    outline: 2px solid $blue-light;
  }
}
