* {
  box-sizing: border-box;
}

body {
  color: $color-text;
  font-family: $font-sans;
  background-color: $blue-darker;
  background-image: url(/img/5calls_bgd.jpg);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
}

p {
  margin: 0 0 1rem;
}

a {
  color: $blue;
  text-decoration: none;

  transition-property: color, background-color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    // TODO: better, nicer link styles
    text-decoration: underline;
  }
}
