* {
  box-sizing: border-box;
}

body {
  font-family: $font-sans;
  color: $color-text;
  background-color: $color-bg;
  @include bp(small) {

  }
}

html, body {
  height: 100%;
}

p {
  font-size: $font-small;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    // TODO: better, nicer link styles
    text-decoration: underline;
  }
}

button {
  font-family: $font-sans;
}

input[type=text] {
  margin: 0 10px;
}

input[type=submit] {
  border-radius: 8px;
}
