.hypothesis {
  color: #fff;

  &__header {
    margin-bottom: 2rem;

    p {
      margin-bottom: 3rem;
      font-size: 2rem;
      line-height: 1.25;
    }
  }

  &__title {
    margin: 0.6rem 0 2rem 0;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__stats {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__stat {
    display: flex;

    > * {
      display: block;
      width: 50%;
      padding: .25rem;
      font-size: 3.5rem;
      font-weight: bold;
    }
  }

  &__stat-value {
    text-align: right;
  }

  &__stat-dd {
    margin-left: 0.6rem;
  }
}
