.hypothesis {
  color: #fff;

  &__header {
    margin-bottom: 1.8rem;

    p {
      margin-bottom: 2rem;
      font-size: 2rem;
      line-height: 1.25;
    }
  }

  &__text {
    p {
      margin-bottom: 2rem;
      font-size: 1.6rem;
      line-height: 1.2;

      a {
        color: #fff;
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }

  &__title {
    margin: 0.6rem 0 2rem 0;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__stats {
    margin-top: 2rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
  }
}
