.layout {
  max-width: $bp-large;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (min-width: $bp-medium) {
    flex-direction: row;
    margin: 0 3rem -4rem 3rem;
    padding: 3rem 0;
  }

  @media (min-width: $bp-large) {
    margin: 0 auto -4rem auto;
    padding: 5rem 0;
  }
}

.layout__side {
  width: calc(100% - 1rem);
  margin: .5rem;

  @media (min-width: $bp-medium) {
    width: 4/12 * 100%;
    margin: 0;
    margin-right: 1/24 * 100%;
  }
}

.layout__main {
  width: calc(100% - 1rem);
  margin: .5rem;

  @media (min-width: $bp-medium) {
    margin: 0;
    width: 15/24 * 100%;
  }
}

footer {
  height: 4rem;
}

footer {
  text-align: center;
  font-size: 1.2rem;
  color: #999;

  a {
    color: #fff;
  }
}