.layout {

}

.layout__side {

}

.layout__main {

}

.logo__header {
  background-color: $red;
  background-image: url('/img/5calls-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48px auto;
  height: 64px;
}

footer {
  background-color: $red;
  text-align: center;
  font-size: $font-small;
  color: #fff;

  .tinyletter__form {
    margin: 10px 0;
  }

  a {
    color: #fff;
  }
}
