.layout {
  display: flex;
  flex-direction: row;
  min-height: 80%;
  margin: 0 auto;
  max-width: 1024px;

  @include bp(medium) {
    flex-direction: column;
  }
}

.layout__side {
  flex: 1;
  border-top: 2px solid $red;
  margin: 30px;
  min-width: 300px;

  @include bp(medium) {
    margin: 0;
  }
}

.layout__main {
  flex: 2;
  margin: 16px 24px 24px 6px;

  @include bp(medium) {
    margin: 0 24px 24px;
  }
}

.logo__header {
  background-color: $red;
  height: 12px;
}

.callcount {
  font-size: $font-xlarge;
  font-weight: bold;
  text-transform: uppercase;
  @include bp(small) {
    font-size: $font-large;
  }
}

.promote {
  p {
    font-size: $font-large;
    text-align: center;
  }
  a {
    display: inline-block;
    margin: 12px 12px 20px;
  }
}

footer {
  background-color: $blue;
  text-align: center;
  font-size: $font-small;
  color: #fff;
  padding-top: 12px;

  .tinyletter__form, .colophon {
    padding-bottom: 24px;
  }

  a {
    color: #fff;
  }

  input[type=text] {
    width: 120px;
  }
}
