
.hidden {
	display: none;
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
  
  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }
}