// COLORS

$blue: #0066cc;
$blue-darker: #0d4d8e;
$gray-dark: #333;
$gray-lighter: #666;

$color-text: $gray-dark;
$color-link: $blue;

// FONTS

$font-sans: 'Roboto Condensed', sans-serif;

// SIZES

$bp-large:  85rem;
$bp-medium: 45rem;
$bp-small:  20rem;
