<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}5Calls{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}

    {% block more_head %}
    {% endblock %}

  </head>
  <body {% block body_class %}{% endblock %}>
    {% block site_banner %}
    <header role="banner">
    </header>
    {% endblock %}
    {% block main %}
    <main role="main">
      <div class="u-container">{% block content %}{% endblock %}</div>
    </main>
    {% endblock %}

    {% block site_footer %}
    <footer>
    </footer>
    {% endblock %}

    {% block js %}
    {% endblock js %}
  </body>
</html>
